.selector,
.selector2 {
  width: 1rem;
  line-height: 3;
}

html[data-dpr="1"] .selector, html[data-dpr="1"] .selector2 {
  font-size: 16px;
  background-image: url(/images/qr@1x.png);
}

html[data-dpr="2"] .selector, html[data-dpr="2"] .selector2 {
  font-size: 32px;
  background-image: url(/images/qr@2x.png);
}

html[data-dpr="3"] .selector, html[data-dpr="3"] .selector2 {
  font-size: 48px;
  background-image: url(/images/qr@3x.png);
}

html[data-dpr="1"] .selector3 {
  padding: 10px;
}

html[data-dpr="2"] .selector3 {
  padding: 20px;
}

html[data-dpr="3"] .selector3 {
  padding: 30px;
}

html[data-dpr="1"] .selector4 {
  background: url(/images/qr@1x.png) 10px 0.266667rem;
}

html[data-dpr="2"] .selector4 {
  background: url(/images/qr@2x.png) 20px 0.266667rem;
}

html[data-dpr="3"] .selector4 {
  background: url(/images/qr@3x.png) 30px 0.266667rem;
}

@media screen and (min-width: 480px) {
  html[data-dpr="1"] body {
    margin: 10px;
  }
  html[data-dpr="2"] body {
    margin: 20px;
  }
  html[data-dpr="3"] body {
    margin: 30px;
  }
}

@keyframes c-spinner-snake {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

html[data-dpr="1"][dir="rtl"] body {
  padding: 4px;
}

html[data-dpr="2"][dir="rtl"] body {
  padding: 8px;
}

html[data-dpr="3"][dir="rtl"] body {
  padding: 12px;
}
