.selector,
.selector2 {
  font-size: dpr(32px);
  width: rem(75px);
  line-height: 3;
  background-image: url(/images/qr@2x.png);
}

.selector3 {
  padding: dpr(20px);
}

.selector4 {
  background: url(/images/qr@2x.png) dpr(20px) rem(20px);
}

@media screen and (min-width: 480px) {
  body {
    margin: dpr(20px);
  }
}

@keyframes c-spinner-snake {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

html[dir="rtl"] body {
  padding: dpr(8px);
}
