[data-dpr="1"][data-fontgear="3"] .selector, [data-dpr="1"][data-fontgear="3"] .selector2 {
    font-size: 22px
}
[data-dpr="2"][data-fontgear="3"] .selector, [data-dpr="2"][data-fontgear="3"] .selector2 {
    font-size: 44px
}
[data-dpr="3"][data-fontgear="3"] .selector, [data-dpr="3"][data-fontgear="3"] .selector2 {
    font-size: 66px
}
[data-dpr="1"][data-fontgear="3"] .selector3 {
    padding: 16px
}
[data-dpr="2"][data-fontgear="3"] .selector3 {
    padding: 32px
}
[data-dpr="3"][data-fontgear="3"] .selector3 {
    padding: 48px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="3"] body {
        margin: 16px
    }
    [data-dpr="2"][data-fontgear="3"] body {
        margin: 32px
    }
    [data-dpr="3"][data-fontgear="3"] body {
        margin: 48px
    }
}
@keyframes c-spinner-snake {}
html[data-dpr="1"][data-fontgear="3"][dir="rtl"] body {
    padding: 10px
}
html[data-dpr="2"][data-fontgear="3"][dir="rtl"] body {
    padding: 20px
}
html[data-dpr="3"][data-fontgear="3"][dir="rtl"] body {
    padding: 30px
}