.selector,
.selector2 {
    width: 1rem;
    line-height: 3
}
[data-dpr="1"] .selector, [data-dpr="1"] .selector2 {
    font-size: 24px;
    background-image: url(/images/qr@1x.png)
}
[data-dpr="2"] .selector, [data-dpr="2"] .selector2 {
    font-size: 48px;
    background-image: url(/images/qr@2x.png)
}
[data-dpr="3"] .selector, [data-dpr="3"] .selector2 {
    font-size: 72px;
    background-image: url(/images/qr@3x.png)
}
[data-dpr="1"] .selector3 {
    padding: 18px
}
[data-dpr="2"] .selector3 {
    padding: 36px
}
[data-dpr="3"] .selector3 {
    padding: 54px
}
[data-dpr="1"] .selector4 {
    background: url(/images/qr@1x.png) 18px 0.266667rem
}
[data-dpr="2"] .selector4 {
    background: url(/images/qr@2x.png) 36px 0.266667rem
}
[data-dpr="3"] .selector4 {
    background: url(/images/qr@3x.png) 54px 0.266667rem
}
@media screen and (min-width: 480px) {
    [data-dpr="1"] body {
        margin: 18px
    }
    [data-dpr="2"] body {
        margin: 36px
    }
    [data-dpr="3"] body {
        margin: 54px
    }
}
@keyframes c-spinner-snake {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
html[data-dpr="1"][dir="rtl"] body {
    padding: 12px
}
html[data-dpr="2"][dir="rtl"] body {
    padding: 24px
}
html[data-dpr="3"][dir="rtl"] body {
    padding: 36px
}