[data-dpr="1"][data-fontgear="-1"] .selector, [data-dpr="1"][data-fontgear="-1"] .selector2 {
    font-size: 14px
}
[data-dpr="2"][data-fontgear="-1"] .selector, [data-dpr="2"][data-fontgear="-1"] .selector2 {
    font-size: 28px
}
[data-dpr="3"][data-fontgear="-1"] .selector, [data-dpr="3"][data-fontgear="-1"] .selector2 {
    font-size: 42px
}
[data-dpr="1"][data-fontgear="-1"] .selector3 {
    padding: 8px
}
[data-dpr="2"][data-fontgear="-1"] .selector3 {
    padding: 16px
}
[data-dpr="3"][data-fontgear="-1"] .selector3 {
    padding: 24px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="-1"] body {
        margin: 8px
    }
    [data-dpr="2"][data-fontgear="-1"] body {
        margin: 16px
    }
    [data-dpr="3"][data-fontgear="-1"] body {
        margin: 24px
    }
}
html[data-dpr="1"][data-fontgear="-1"][dir="rtl"] body {
    padding: 2px
}
html[data-dpr="2"][data-fontgear="-1"][dir="rtl"] body {
    padding: 4px
}
html[data-dpr="3"][data-fontgear="-1"][dir="rtl"] body {
    padding: 6px
}