[data-dpr="1"][data-fontgear="2"] .selector, [data-dpr="1"][data-fontgear="2"] .selector2 {
    font-size: 20px
}
[data-dpr="2"][data-fontgear="2"] .selector, [data-dpr="2"][data-fontgear="2"] .selector2 {
    font-size: 40px
}
[data-dpr="3"][data-fontgear="2"] .selector, [data-dpr="3"][data-fontgear="2"] .selector2 {
    font-size: 60px
}
[data-dpr="1"][data-fontgear="2"] .selector3 {
    padding: 14px
}
[data-dpr="2"][data-fontgear="2"] .selector3 {
    padding: 28px
}
[data-dpr="3"][data-fontgear="2"] .selector3 {
    padding: 42px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="2"] body {
        margin: 14px
    }
    [data-dpr="2"][data-fontgear="2"] body {
        margin: 28px
    }
    [data-dpr="3"][data-fontgear="2"] body {
        margin: 42px
    }
}
@keyframes c-spinner-snake {}
html[data-dpr="1"][data-fontgear="2"][dir="rtl"] body {
    padding: 8px
}
html[data-dpr="2"][data-fontgear="2"][dir="rtl"] body {
    padding: 16px
}
html[data-dpr="3"][data-fontgear="2"][dir="rtl"] body {
    padding: 24px
}