[data-dpr="1"][data-fontgear="4"] .selector, [data-dpr="1"][data-fontgear="4"] .selector2 {
    font-size: 24px
}
[data-dpr="2"][data-fontgear="4"] .selector, [data-dpr="2"][data-fontgear="4"] .selector2 {
    font-size: 48px
}
[data-dpr="3"][data-fontgear="4"] .selector, [data-dpr="3"][data-fontgear="4"] .selector2 {
    font-size: 72px
}
[data-dpr="1"][data-fontgear="4"] .selector3 {
    padding: 18px
}
[data-dpr="2"][data-fontgear="4"] .selector3 {
    padding: 36px
}
[data-dpr="3"][data-fontgear="4"] .selector3 {
    padding: 54px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="4"] body {
        margin: 18px
    }
    [data-dpr="2"][data-fontgear="4"] body {
        margin: 36px
    }
    [data-dpr="3"][data-fontgear="4"] body {
        margin: 54px
    }
}
@keyframes c-spinner-snake {}
html[data-dpr="1"][data-fontgear="4"][dir="rtl"] body {
    padding: 12px
}
html[data-dpr="2"][data-fontgear="4"][dir="rtl"] body {
    padding: 24px
}
html[data-dpr="3"][data-fontgear="4"][dir="rtl"] body {
    padding: 36px
}