[data-dpr="1"][data-fontgear="0"] .selector, [data-dpr="1"][data-fontgear="0"] .selector2 {
    font-size: 16px
}
[data-dpr="2"][data-fontgear="0"] .selector, [data-dpr="2"][data-fontgear="0"] .selector2 {
    font-size: 32px
}
[data-dpr="3"][data-fontgear="0"] .selector, [data-dpr="3"][data-fontgear="0"] .selector2 {
    font-size: 48px
}
[data-dpr="1"][data-fontgear="0"] .selector3 {
    padding: 10px
}
[data-dpr="2"][data-fontgear="0"] .selector3 {
    padding: 20px
}
[data-dpr="3"][data-fontgear="0"] .selector3 {
    padding: 30px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="0"] body {
        margin: 10px
    }
    [data-dpr="2"][data-fontgear="0"] body {
        margin: 20px
    }
    [data-dpr="3"][data-fontgear="0"] body {
        margin: 30px
    }
}
@keyframes c-spinner-snake {}
html[data-dpr="1"][data-fontgear="0"][dir="rtl"] body {
    padding: 4px
}
html[data-dpr="2"][data-fontgear="0"][dir="rtl"] body {
    padding: 8px
}
html[data-dpr="3"][data-fontgear="0"][dir="rtl"] body {
    padding: 12px
}