[data-dpr="1"][data-fontgear="1"] .selector, [data-dpr="1"][data-fontgear="1"] .selector2 {
    font-size: 17px
}
[data-dpr="2"][data-fontgear="1"] .selector, [data-dpr="2"][data-fontgear="1"] .selector2 {
    font-size: 34px
}
[data-dpr="3"][data-fontgear="1"] .selector, [data-dpr="3"][data-fontgear="1"] .selector2 {
    font-size: 51px
}
[data-dpr="1"][data-fontgear="1"] .selector3 {
    padding: 11px
}
[data-dpr="2"][data-fontgear="1"] .selector3 {
    padding: 22px
}
[data-dpr="3"][data-fontgear="1"] .selector3 {
    padding: 33px
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="1"] body {
        margin: 11px
    }
    [data-dpr="2"][data-fontgear="1"] body {
        margin: 22px
    }
    [data-dpr="3"][data-fontgear="1"] body {
        margin: 33px
    }
}
@keyframes c-spinner-snake {}
html[data-dpr="1"][data-fontgear="1"][dir="rtl"] body {
    padding: 5px
}
html[data-dpr="2"][data-fontgear="1"][dir="rtl"] body {
    padding: 10px
}
html[data-dpr="3"][data-fontgear="1"][dir="rtl"] body {
    padding: 15px
}