.selector,
.selector2 {
    width: 1rem;
    line-height: 3
}
[data-dpr="1"][data-fontgear="0"] .selector, [data-dpr="1"][data-fontgear="0"] .selector2 {
    font-size: 16px;
    background-image: url(/images/qr@1x.png)
}
[data-dpr="2"][data-fontgear="0"] .selector, [data-dpr="2"][data-fontgear="0"] .selector2 {
    font-size: 32px;
    background-image: url(/images/qr@2x.png)
}
[data-dpr="3"][data-fontgear="0"] .selector, [data-dpr="3"][data-fontgear="0"] .selector2 {
    font-size: 48px;
    background-image: url(/images/qr@3x.png)
}
[data-dpr="1"][data-fontgear="0"] .selector3 {
    padding: 10px
}
[data-dpr="2"][data-fontgear="0"] .selector3 {
    padding: 20px
}
[data-dpr="3"][data-fontgear="0"] .selector3 {
    padding: 30px
}
[data-dpr="1"][data-fontgear="0"] .selector4 {
    background: url(/images/qr@1x.png) 10px 0.266667rem
}
[data-dpr="2"][data-fontgear="0"] .selector4 {
    background: url(/images/qr@2x.png) 20px 0.266667rem
}
[data-dpr="3"][data-fontgear="0"] .selector4 {
    background: url(/images/qr@3x.png) 30px 0.266667rem
}
@media screen and (min-width: 480px) {
    [data-dpr="1"][data-fontgear="0"] body {
        margin: 10px
    }
    [data-dpr="2"][data-fontgear="0"] body {
        margin: 20px
    }
    [data-dpr="3"][data-fontgear="0"] body {
        margin: 30px
    }
}
@keyframes c-spinner-snake {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
html[data-dpr="1"][data-fontgear="0"][dir="rtl"] body {
    padding: 4px
}
html[data-dpr="2"][data-fontgear="0"][dir="rtl"] body {
    padding: 8px
}
html[data-dpr="3"][data-fontgear="0"][dir="rtl"] body {
    padding: 12px
}